<!DOCTYPE html>
<html>
  <head>
    <title>gulp</title>
    <script src="https://use.fontawesome.com/7915dd2a13.js"></script>
    <script src="https://use.fontawesome.com/21150e3e56.js"></script>
    <script src="https://use.fontawesome.com/790d0309e8.js"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBh4dqWMpQ6qZTrJme92dheSZXPfKkIKoY" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
